/*.navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
  }

@media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
      background-color: #181a27 !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
}

.nav-link {
    padding: 0.8rem 1rem !important;
}
*/

#nav {
  width: 100%;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  background-color: black;
  border-bottom: 2px solid rgb(231, 231, 231);
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(206, 206, 206);
  border-right: 2px solid rgb(66, 66, 66)
}

#nav li {
  float: left
}

.body {
  background-color: black;
}

.img-self {
  width: 700px;
  height: auto;
}

.content-col {
  display: flex;
  align-items: center;
  background-color: black;
}

.text-bold {
  color: rgb(238, 238, 238)
}

.text-classic {
  color: rgb(155, 155, 155)
}